# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
santiago/
# Entornos virtuales (Virtual Environments)
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos de configuración de entorno (Variables secretas)
.env
.venv
env.ini
.env.test

# Testing y Cobertura
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs (VS Code, PyCharm)
.vscode/
.idea/
*.swp
